@import url('main.css');

button.import {
	border: none;
	font-size: 32px;
	outline: none;
	font-weight: 300;
	padding: 0 20px;
	border-radius: 2px;
	box-shadow: 0 2px 0 rgba(100,100,100,.3);
	margin-right: 10px;
}

button.import.imported {
background: rgb(161, 231, 161);
font-weight: 300;
box-shadow: 0 2px 0 rgb(135, 185, 133);
}

.navbar h1 {
color: #ccc;
display: inline-block;
padding: 0;
margin: 0 10px;
font-size: 18px;
margin-left: 2em;
text-transform: uppercase;
}

.navbar h2 {
float: left;
margin: 10px;
font-size: 24px;
border: none;
padding: 0;
}

.dark span.code {
color: #FFF;
}

.consoles .console .file {
	float: right;
}

.consoles {
border-radius: 5px;
background: #555;
padding: 15px 20px;
font-family: 'Courier New', monospace;
font-size: 16px;
line-height: 1.3em;
width: 50%;
}

.consoles .console {
display: list-item;
background: rgba(255,255,255,.1);
margin: 2px 0;
padding: 0 4px;
list-style-type: decimal;
list-style-position: inside;
color: #aaa;
}

.consoles .console .file .line {
width: 1em;
display: inline-block;
text-align: right;
color: #999;
}

.consoles .console .text {
color: #eee;
}

.content {
margin: 50px 0;
color: #eee;
}

.dark p {
color: #DBDBDB;
text-shadow: none;
}

.navbar button.prev {
left: 1em;
}


.dark .navbar button {
background: rgb(80, 80, 80);
color: #BBB;
border-color: rgb(80,80,80);
}

.navbar button {
border: none;
margin: 10px;
padding: 0px 10px;
position: relative;
height: 2em;
background: #ddd;
border-color: #ddd;
font-size: 1em;
text-transform: uppercase;
color: #333;
outline: none;
}


button .arrow {
border: solid 1em;
width: 0;
position: absolute;
height: 0;
display: block;
top: 0;
border-color: transparent;
}

button .arrow.right {
right: -2em;	
border-left-color: inherit;
}

button .arrow.left {
border-right-color: inherit;
left: -2em;
}
